version: '3.1'

services:

  node:
    build: .
    ports:
      - ${PORT}:${PORT}
      - 9229:9229
    volumes:
      - .:/var/www/kinobox
    links:
      - postgres
    command: npm run start:debug
    container_name: node

  postgres:
    image: postgres:12
    ports:
      - ${DB_PORT}:5432
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_HOST=${DB_HOST}
    container_name: db

  test_postgres:
    image: postgres:12
    ports:
      - ${TEST_DB_PORT}:5432
    environment:
      - POSTGRES_USER=${TEST_DB_USERNAME}
      - POSTGRES_DB=${TEST_DB_DATABASE}
      - POSTGRES_PASSWORD=${TEST_DB_PASSWORD}
      - POSTGRES_HOST=test_postgres
    container_name: test_db
